.nav {
    background: url("../../img/images/navi-blur.jpg") center center no-repeat;
    padding-top: 210px;
    @include visible(0);
    @include size(100%,
    100vh);
    @include position(absolute,
    0,
    0);
    @include transition(opacity $t $cubic-1);
    // transition-delay: .6s;
    &.active {
        @include visible(1);
        ul,
        .nav-left {
            transition-delay: 1.4s;
            transform: translateY(0px);
            @include visible(1);
        }
    }
    ul,
    &-left {
        @include transform(translateY(-20px));
        @include visible(0);
        @include transition($t $cubic-1);
        transition-property: transform, opacity;
    }
    &-left {
        display: none;
        font-size: 3.2rem;
        line-height: 1.4;
        width: 50%;
        font-family: linotype-didot, serif;
    }
    ul {
        overflow-y: scroll;
        @include size(100%,
        calc(100% - var(--height-mobile-cta)));
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            a {
                letter-spacing: 2px;
                padding-block: 15px;
                display: block;
                font-size: 2.4rem;
            }
        }
        .sub-menu {
            li a {
                padding-block: 5px;
                @include transition(color 0.3s $cubic-2);
                &:hover {
                    color: $yellow-cl;
                }
            }
        }
    }
    @include xs {
        padding-top: var(--height-header);
        ul {
            margin-left: auto;
            @include size(50%,
            auto);
            li {
                a {
                    padding-block: 10px;
                    font-size: 2rem;
                }
            }
        }
    }
    @include sm {
        padding-top: 250px;
        display: flex;
        &.active {
            &:before {
                height: 100%;
                transition-delay: 1s;
            }
        }
        &::before {
            background-color: rgba(255, 255, 255, 0.2);
            content: "";
            @include position(absolute,
            $t: 250px, $l: 50%, $z: 10);
            @include size(1px,
            0);
            @include transition($t $cubic-1);
            transition-property: height, opacity;
        }
        &-left {
            display: block;
        }
        ul {
            max-width: 400px;
            margin-inline: auto;
            padding-inline: var(--gap);
            >li>a {
                font-size: 2.4rem;
                position: relative;
                padding-block: 15px;
                @include transition(color 0.3s $cubic-2);
                &:hover {
                    color: $yellow-cl;
                    &:before,
                    &:after {
                        @include visible(1);
                    }
                    &:before {
                        left: 0;
                        @include transform(translateX(15px));
                    }
                    &:after {
                        right: 0;
                        @include transform(translateX(-15px));
                    }
                }
                &::before,
                &::after {
                    background-color: $yellow-cl;
                    display: block;
                    content: '';
                    @include size(60px,
                    1px);
                    @include visible(0);
                    @include position(absolute,
                    $t: 50%, );
                    @include transform(translateX(0));
                    @include transition(0.3s $cubic-2);
                    transition-property: transform, opacity, left, right;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}