.contact {
    background: url('../../img/images/background-01.jpg') center bottom/cover no-repeat;
    background-attachment: fixed;
    &-left,
    &-right {
        flex: 1;
        padding: 20px;
        @include transition(height $t $cubic-1);
    }
    &-right {
        background: rgba(62, 78, 49, 0.6);
        @include flex($align: flex-start);
    }
    &-enquiry {
        padding-block: 25px;
        margin-bottom: 10px;
        @include flex($justify: space-between);
        &.active {
            .enquiry-open {
                @include transform(rotate(180deg));
            }
        }
        .enquiry-open {
            position: relative;
            @include flex;
            @include size(25px);
            @include transition(transform $t $cubic-1);
            span {
                display: block;
                transform-origin: center center;
                background-color: $yellow-cl;
                position: absolute;
                @include transition(transform $t $cubic-1);
                &:nth-of-type(1) {
                    @include size(1px,
                    25px);
                    @include transform(translateX(-50%));
                }
                &:nth-of-type(2) {
                    @include size(25px,
                    1px);
                    @include transform(translateY(-50%));
                }
            }
        }
    }
    .formfield {
        border-bottom: 1px solid $white-cl;
        position: relative;
    }
    &-form {
        &-label {
            padding: 4px 0;
            @include position(absolute,
            0,
            0);
            @include transition($t $cubic-1);
            transition-property: font-size, top;
        }
        &-input,
        .select2-selection--multiple {
            width: 100%;
            padding: 15px;
            background: transparent;
            outline: none !important;
            border: none !important;
        }
        .select2-selection__choice {
            background-color: transparent !important;
            border: 1px solid $white-cl !important;
        }
        .select2-search {
            display: none;
        }
        &-input:focus+.contact-form-label,
        &-input:valid+.contact-form-label,
        .iti.focus+.contact-form-label {
            top: -20px;
            font-size: 1.1rem;
        }
        .iti {
            width: 100%;
            &.focus {
                .iti__flag-container {
                    left: 0;
                }
                input[type="tel"] {
                    padding-left: 52px;
                }
            }
            input[type="tel"] {
                padding-left: calc(52px + 95px);
                @include transition(padding-left $t $cubic-1);
            }
        }
        .iti__flag-container {
            left: 95px;
            @include transition(left $t $cubic-1);
        }
        .iti__country-list {
            color: $black-cl;
        }
        &-labelCheck {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            input[type="checkbox"] {
                background-color: transparent;
                border: 1px solid $white-cl;
                vertical-align: middle;
                -webkit-appearance: none;
                border-radius: 0px;
                @include size(15px);
                @include position(absolute,
                4px,
                0);
            }
            input[type="checkbox"]:checked {
                background-color: $white-cl;
            }
        }
        &-submit {
            background: -webkit-linear-gradient(left, #E8AD80, #B18461, #E8AD80);
            padding: 14px 30px 14px 30px;
            min-width: 150px;
            border: none;
            outline: none;
            cursor: pointer;
            @include transition(background $t $cubic-1);
            &:hover {
                background: $green-2-cl;
            }
        }
    }
    @include maxW($sm-max) {
        &-left,
        &-right {
            height: 108px;
            overflow: hidden;
        }
    }
    @include xs {
        &-left,
        &-right {
            padding: 20px 40px;
        }
    }
    @include sm {
        &-left,
        &-right {
            padding: 40px;
        }
        &-enquiry {
            display: none;
        }
        &-form {
            max-width: 550px;
        }
        display: flex;
    }
}