.container {
  padding: 60px 20px 80px 20px;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20px, -20px);
}
